@page "/counter"
@page "/counteragain"
@page "/counter/{startingValue:int}"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h3>Query:</h3>

<input @bind="value" @bind:event="oninput">

<button @onclick="ShowButtonText">Run</button>
<p>@(buttontext)</p>

<p>@(value)</p>


@code {
    private string? buttontext;
    private string? value;

    [Parameter]
    public int StartingValue { get; set; } = 0;

    [Parameter]
    public int IncrementValue { get; set; } = 1;

    protected override void OnParametersSet()
    {
        currentCount = StartingValue;
        base.OnParametersSet();
    }

    public void ShowButtonText()
    {
        if (buttontext is null)
        {
            buttontext = "heyy, you clicked me!";
        }
        else 
        {
            buttontext = null;
        }
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += IncrementValue;
    }
}
